<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->

<table class="container">
    <thead>
      <tr>
        <th><h1>Juego</h1></th>
        <th><h1>Jugador</h1></th>
        <th><h1>Resultado</h1></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of listado" onchange="actualizar()">
        <td>{{juego.nombre}} </td>
        <td>{{juego.jugador}} </td> 
        <td *ngIf="juego.gano">Gano </td>   
        <td *ngIf="!juego.gano">Perdio</td>     
      </tr>
     
    </tbody>
  </table>